<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
  <add name="BookStoreLIB.Properties.Settings.DBconnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Sahil\Desktop\BookStore\Database\ksBookstoreDB.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>